form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    border-radius: 10px;
    letter-spacing: 3px;
    top: 30%;
    left: 35%;
    background-color: #242424;
    padding: 20px;
    height: 40%;
    width: 30%;
    z-index: 2000;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  @media only screen and (max-width: 800px) {
    form {
      width: 80%;
      left: 5%;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  input[type="file"] {
    color: white;
    margin-bottom: 20px;
    border: 1px dashed white;
    padding: 20px;
    width: 90%;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 18px;
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid #ccc;
    width: 300px;
    font-family: 'BebasNeue';
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    text-align: center;
  }

  .modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    border-radius: 10px;
    letter-spacing: 2px;
    top: 30%;
    left: 35%;
    background-color: #242424;
    padding: 20px;
    height: 40%;
    width: 30%;
    z-index: 2000;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  input[type="text"]:focus {
    outline: none;
    border-color: transparent;
    border-bottom: 1px solid #ccc;
  }

  input[type="text"]::placeholder {
    color: rgb(68, 68, 68);
  }

  input[type="text"]:focus::placeholder {
    color: rgb(68, 68, 68);
  }
  
  button {
    padding: 16px 50px;
    font-size: 22px;
    letter-spacing: 2px;
    border: none;
    background-color: #ffffff77;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

  .button-home {
    background-color: white;
  }


  button:hover {
    background-color: #686868;
  }

  .icon-close {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    cursor: pointer;
  }