.background {
  background-image: url("../../assets/Bkg.png");
  background-size: cover;
  background-position: center 70%;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  animation: fadeInOut 2.5s alternate;
  animation-iteration-count: 1;
}

.mainmovie {
  position: relative;
  display: flex;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.moviescarousel-container {
  position: absolute;
  right: 180px;
  top: 60px;
  overflow: visible;
}

@media only screen and (max-width: 1400px) {
  .background {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-image: linear-gradient(to bottom, transparent 1%, rgb(24, 24, 24) 75%), url("../../assets/Bkg.png");
  }

  .moviescarousel-container {
    position: relative;
    right: auto;
    top: auto;
    margin: auto;
    overflow: auto;
    margin-top: 200px;
    overflow: hidden;
    padding: 30px;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}