.movie-carousel {
  width: 120px;
  height: 70px;
}

.carousel-container {
  margin-top: 40px;
  width: 280px;
}

.carousel-img {
  object-fit: cover;
  width: 100px;
  height: 80px;
}

.dropdown {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  height: 25px;
}