.maintitle-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100vw;
}

.movie-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin: 0 10%;
  position: relative;
  top: 460px;
  @media only screen and (max-width: 800px) {
    font-size: 10px;
    top: 180px;
    align-items: center;
  }
}

.buttons {
  display:flex;
  flex-direction: row;
  margin: 10px;
  gap: 16px;
  @media only screen and (max-width: 800px) {
    margin-top: 40px;
    flex-direction: column;
  }
}

.maintitle {
  letter-spacing: 20px;
  cursor: default;
  @media only screen and (max-width: 800px) {
    letter-spacing: 2px;
    text-align: center;
    margin-top: 40px;
  }
}

.description {
  letter-spacing: 8px;
  cursor: default;
  display: flex;
  flex-direction: row;
}

