.container {
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
    align-items: center;
    width: 100vw;
}

.maincontainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 10%;
    margin-top: 14px;
    position: relative;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.icon {
    margin-left: 20px;
    cursor: pointer;
}

.add-movie {
    margin-left: 50px;
}