.container {
    display: flex;
    font-family: 'Bebas Neue';
    align-items: center;
    width: 100vw;
    letter-spacing: 3px;
}

.maincontainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 10%;
    margin-top: 14px;
    position: relative;
}

.texts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.icon-nav {
    margin-left: 20px;
    cursor: pointer;
    &:hover {
        transform: scale(1.3);
    }
    @media only screen and (max-width: 1400px) {
        display: none;
      }
}

.icon-perfil {
    margin-left: 20px;
    cursor: pointer;
    &:hover {
        transform: scale(1.3);
    }
}

.add-movie {
    margin-left: 50px;
    &:hover {
        transform: scale(1.2);
    }
    @media only screen and (max-width: 1400px) {
        display: none;
      }
}