body {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
}

:root {
  --animate-duration: 1500ms;
}