@font-face {
  font-family: 'Bebas Neue';
  src: url(../public/fonts/bebas_neue/TTF/BebasNeue_Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url(../public/fonts/bebas_neue/TTF/BebasNeue_Light.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue';
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
}

:root {
  --animate-duration: 1500ms;
}